<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../styles/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="https://kit.fontawesome.com/6687c3adff.js"
      crossorigin="anonymous"
    ></script>

    <title>Online Mandi</title>
  </head>
  <body>
    <div class="bar">
      <p>Online Mandi</p>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="">Community</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li>
          <div class="lg-sgn">
            <a href="">Login</a>
            <a href="">Sign up</a>
          </div>
        </li>
      </ul>
    </div>
    <section class="features">
      <div class="features-container">
        <div class="f d">
          <div class="df Market">
            <a href="./market.html">Market</a>
            <p>Look into what the government can buy from you?</p>
          </div>
          <div class="df otherFarmers">
            <a href="">Other Farmers</a>
            <p>Talk with other farmers and share your issues</p>
          </div>
        </div>

        <div class="f community">
          <h2>Community</h2>
          <div class="scrollable post">
            <div class="item">
              <p>Krishu Aggarwal</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="item">
              <p>Krishu Aggarwal</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="item">
              <p>Ramesh Kumar</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="item">
              <p>Mahesh Sharma</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="item">
              <p>Krishiv Saxena</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="item">
              <p>Sayandeep Kaur</p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="Resources">
      <div class="Resource-Container">
        <div class="row">
          <div class="loans card">
            <i class="fa-solid fa-landmark"></i>
            <a href="">Loans</a>
          </div>
          <div class="DisasterHelp card">
            <i class="fa-solid fa-house-flood-water"></i>
            <a href="">Disaster Help</a>
          </div>
          <div class="cooperative card">
            <i class="fa-solid fa-people-group"></i>
            <a href="">Co-operative</a>
          </div>
        </div>
        <div class="row">
          <div class="schemes card">
            <i class="fa-solid fa-file"></i>
            <a href="">Schemes</a>
          </div>
          <div class="blog card">
            <i class="fa-solid fa-blog"></i>
            <a href="">Blog</a>
          </div>
          <div class="Science card">
            <i class="fa-solid fa-flask"></i>
            <a href="">Scientific Research</a>
          </div>
        </div>
      </div>
    </section>
    <script src="../src/app.js"></script>
  </body>
</html>
