<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />

    <title>Online Mandi</title>
  </head>
  <body>
    <!-- Bar nav -->
    <div class="bar">
      <p>Online Mandi</p>
      <ul>
        <li><a href="./index.html">Home</a></li>
        <li><a href="">Community</a></li>
        <li><a href="">About Us</a></li>
        <li><a href="">Contact Us</a></li>
        <li>
          <div class="lg-sgn">
            <a href="">Login</a>
            <a href="">Sign up</a>
          </div>
        </li>
      </ul>
    </div>
    <section class="demand">
      <div class="demand-container">
        <div class="current cont">
          <div class="title">
            <h2>Current Demand</h2>
          </div>
          <div class="scrollable saleBar">
            <div class="item sale">
              <h4>Rice</h4>
              <p>Rate: Rs. 15.6</p>
            </div>
            <div class="item sale">
              <h4>Kidney Beans</h4>
              <p>Rate: Rs. 21.1</p>
            </div>
            <div class="item sale">
              <h4>Wheat</h4>
              <p>Rate: Rs. 12.3</p>
            </div>
            <div class="item sale">
              <h4>Pulses</h4>
              <p>Rate: Rs. 19.6</p>
            </div>
            <div class="item sale">
              <h4>Fruits</h4>
              <p>Rate: Rs. 29.1</p>
            </div>
            <div class="item sale">
              <h4>Soya-bean</h4>
              <p>Rate: Rs. 31.1</p>
            </div>
            <div class="item sale">
              <h4>Jowar</h4>
              <p>Rate: Rs. 13.4</p>
            </div>
          </div>
        </div>
        <div class="your cont">
          <h2>Your Sales</h2>
          <div class="sales">
            <h3>No Sales Currently</h3>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
